* {
   font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
   background: green;
   color: aliceblue;
   font-weight: bold;
}

h1 {
   color: goldenrod;
}

#blackjack-body {
   text-align: center;
   margin: 50px;
   padding: 25px;
}

#message-el {
   font-style: italic;
}

button {
   color: #016f32;
   background-color: goldenrod;
   width: 150px;
   padding: 5px;
   border: none;
   border-radius: 10px;
   font-weight: bold;
}
